name: Validate

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  validate:
    name: Validate Modules
    runs-on: ubuntu-latest

    strategy:
      matrix:
        module: [resource-group, virtual-network, network-security-group, network-hub-spoke, virtual-machine, log-analytics-workspace, azure-firewall]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.0"

      - name: Terraform Format Check
        run: terraform fmt -check -recursive
        continue-on-error: true

      - name: Terraform Init & Validate
        run: |
          cd modules/${{ matrix.module }}
          terraform init -backend=false
          terraform validate
